<div class="col-md-7 rewards">
  <div class="text-center">
    <%= paginate @rewards %>
  </div>
  <table class="table table-hover">
    <thead>
      <th><%= sortable 'id' %></th>
      <th><%= sortable 'status' %></th>
      <th>User email</th>
      <th>User name</th>
    </thead>
    <tbody>
      <% @rewards.each do |rw| %>
      <tr>
        <td>
          <%= rw.id %>
        </td>
        <td>
          <%= format_status(rw.status) %>
        </td>
        <td>
          <%= rw.user.email %>
        </td>
        <td>
          <%= rw.user.name %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
